<?xml version="1.0" ?>
<gazebo version="1.0" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="house2" params="name:='House' pose">

  <model name='${name}'>
    <pose>${pose}</pose>
    <static>1</static>
    <link name='link'>
      <collision name='collision'>
        <geometry>
          <mesh>
            <uri>model://house_2/meshes/house_2.dae</uri>
          </mesh>
        </geometry>
        <max_contacts>10</max_contacts>
        <surface>
          <contact>
            <ode/>
          </contact>
          <bounce/>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
      <visual name='visual'>
        <geometry>
          <mesh>
            <uri>model://house_2/meshes/house_2.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <uri>model://house_2/materials/scripts</uri>
            <uri>model://house_2/materials/textures</uri>
            <uri>model://house_1/materials/textures</uri>
            <name>House_2/Diffuse</name>
          </script>
          <shader type='normal_map_object_space'>
            <normal_map>model://house_1/materials/textures/House_1_Normal.png</normal_map>
          </shader>
        </material>
      </visual>
      <self_collide>0</self_collide>
      <kinematic>0</kinematic>
      <gravity>1</gravity>
    </link>
    <pose>1 -1 0 0 -0 0</pose>
  </model>

</xacro:macro>
</gazebo>
